<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <header class="login-header">

        <h1>Bem-vindo</h1>

        <p>Entre na sua conta para continuar</p>

    </header>

    <main class="login-main">

        <div class="login-box">

            <h1>Login</h1>

            <form action="#" method="post">
                {{form.csrf_token}}

                {{form.email.label()}}
                {{form.email}}

                {{form.senha.label()}}
                {{form.senha}}

                {{form.submit()}}

            </form>

            <p class="cadastro">
                Ainda não possui uma conta?
                <a href="/cadastro">Cadastre-se</a>
            </p>

        </div>

    </main>

    <footer>
        <p>Meu Site © 2026</p>
    </footer>

</body>
</html>